<main class="home-container" *ngIf="viewModel$ | async as viewModel">
    <h1>Characters</h1>
    
    <div class="characters-section">
        <div class="characters-container" (click)="componentStateSvc.viewCharacterDetails(character.id)" *ngFor="let character of viewModel.characters">
            <span>{{character.name}}</span>
            <div>
                <img [src]="domSanitizer.bypassSecurityTrustUrl(character.thumbnail.thumbnailUrl)" />
            </div>
        </div>
    </div>
   
    
</main>